<main id="home">
    <div class="intro">
        <div class="intro-img">
            <img src="ludo.jpg" alt="profile photo"/>
        </div>
        <div class="title">
            {{title}}
        </div>
        <div class="subtitle">
            {{subtitle}}
        </div>

        <div class="social" aria-label="social links">
            <a href="https://www.linkedin.com/in/ludovic-beghin" target="_blank" rel="noopener noreferrer">
                <img src="linkedin.svg" alt="LinkedIn" />
            </a>
            <a href="https://github.com/ludobegins" target="_blank" rel="noopener noreferrer">
                <img src="github.svg" alt="GitHub" />
            </a>
        </div>
    </div>
</main>